* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*сбросили дефолтные настройки браузара по форматированию*/
}

#root {
    display: flex ;/*расположение по на пересечении линий*/
    flex-direction: column;
    align-items: center;
}


.App {
    width: 800px ;
}

.post {
    display: flex;
    padding: 15px;/*внутренний отступ*/
    border: 2px solid teal;/*рамка сплошная зеленого цвета*/
    margin-top: 5px; /*внешний отступ*/
    justify-content: space-between;/*выравнивание в контейнере горизонтальное*/
    align-items: center;/*выравнивание в контейнере вертикальное*/
}

.post__btns {
    display: flex;
}


.list-enter {
    transform: translateY(500px);
}

.list-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 500ms, transform 500ms;
}

.list-exit {
    opacity: 1;
    transform: scale(1);
}

.list-exit-active {
    opacity: 0;
    transform: translateY(350px);
    transition: opacity 500ms, transform 500ms;
}
.navbar{

    display: flex;
    align-items: center;

}
.navbar__link   {
    width: 100px;
    height: 50px;
    margin-right: 1px;
    color: teal;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar__link:hover {
    color: darkred;
}

